<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link
      href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"
      rel="stylesheet"
    />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

    <!-- include summernote css/js-->
    <link href="/public/summernote/summernote.css" rel="stylesheet" />

    <style media="screen">
      #wrapper {
        width: 90%;
        margin: auto;
        padding-top: 25px;
      }
    </style>
  </head>
  <body>
    <div class="row" id="wrapper">
      <div id="summernote"></div>
    </div>
    <script src="/public/summernote/summernote.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        var self = this;

        // load countries list
        $.ajax({
          url: "https://restcountries.eu/rest/v2/all",
        }).then(function (data) {
          let allCountries = data;
          data = {};
          let countriesNames = allCountries.forEach((element) => {
            data[element.name] = element.flag;
          });

          console.log(data);
          var countries = Object.keys(data);
          console.log(countries);
          var countryUrls = data;
          $("#summernote").summernote({
            height: 300,
            hintDirection: "top",
            hint: [
              {
                search: function (keyword, callback) {
                  callback(
                    $.grep(countries, function (item) {
                      return item.indexOf(keyword) === 0;
                    })
                  );
                },
                match: /\B\^([\-+\w]+)$/,
                template: function (item) {
                  var content = countryUrls[item];
                  return (
                    '<img src="' + content + '" width="20" /> :' + item + ":"
                  );
                },
                content: function (item) {
                  var url = countryUrls[item];
                  if (url) {
                    return `${item}`;
                  }
                  return "";
                },
              },
            ],

            focus: true,
            callbacks: {
              onImageUpload: function (file, editor, welEditable) {
                console.log("editor", editor);
                saveFile(file[0]);
              },
            },
          });
        });

        function saveFile(file) {
          console.log(file);

          data = new FormData();
          data.append("file", file);

          $.ajax({
            data: data,
            type: "POST",
            url: "/imageUpload",
            cache: false,
            contentType: false,
            processData: false,
            success: function (url) {
              var $summernote = $("#summernote");
              var imgPath = url.name + "." + url.ext;
              var img = $("<img src='/uploaded/" + imgPath + "'>")[0];
              $summernote.summernote("insertNode", img);
            },
          });
        }
      });
    </script>
  </body>
</html>
